body {
  max-width: 44em !important;
  margin: 0 auto !important;
  font-size: 22px !important;
  background: none !important;
}

p {
  font-family: serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif !important;
}
